<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Issue Tracker</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>{{myuser.fname}}'s Dashboard</h1>
        {% for ticket in tickets %}
        <p>{{ ticket.status }}</p>
        <p>{{ ticket.id }}</p>
        <p>{{ ticket.issue_type }}</p>
        <p>{{ ticket.comment }}</p>
        <p>{{ ticket.priority_level }}</p>
        <p>{{ ticket.assigned_to.fname }}</p>
        {% endfor %}
        
        <script src="" async defer></script>
    </body>
</html>