<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>New Ticket</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Hello {{user.fname}}! Create a ticket!</h1>


    {% if messages %}
    <ul>
        {% for message in messages %}
        <li style="color: red;">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
        
    <form action="/newticketprocess" method="POST">
        {% csrf_token %}

        <label for="status">Status: </label>
        <select id="status" name="status">
            <option selected="true" disabled>Select...</option>
            <option value="open">Open</option>
            <option value="in_progress">In Progress</option>
            <option value="reviewing">Reviewing</option>
            <option value="closed">Closed</option>
            <option value="reopened">Reopened</option>
        </select>

        <label for="issue_type">Issue Type: </label>
        <select id="issue_type" name="issue_type">
            <option selected="true" disabled>Select...</option>
            <option value="bug">Bug</option>
            <option value="crash">Crash</option>
            <option value="documentation">Documentation</option>
            <option value="Feature">Feature</option>
            <option value="Task">Task</option>
        </select>

        <label for="comment">Comment: </label>
        <textarea id="comment" name="comment" rows="5" cols="30"></textarea>

        <label for="priority_level">Priority Level: </label>
        <select id="priority_level" name="priority_level">
            <option selected="true" disabled>Select...</option>
            <option value="low">Low</option>
            <option value="moderate">Moderate</option>
            <option value="critical">Critical</option>
        </select>

        <button>Submit</button>
    </form>

    <a href="/dashboard"><button>Cancel</button></a>


    </body>
</html>